* {
    margin: 0;
    padding: 0;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header section */
header {
    background-image: url('/Assets/Hero-bg.png');
    height: 698px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0px;
}

nav .btn {
    border-radius: 10px;
    background: #4E47FF;
    display: flex;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: none;
}

.logo {
    color: #4E47FF;
    font-family: Inter;
    font-size: 34px;
    font-weight: 900;
    line-height: 150%;
}

/* Banner section start */
.banner {
    margin-top: 158px;

}

.banner-text {
    color: #252432;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 905px;
    text-align: center;
    margin: 0 auto;
}

.banner-btn {
    border-radius: 10px;
    background: #4E47FF;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    height: 48px;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 37px auto;
}

/* Banner section end*/